<div class="course-item">
  <div class="one-row">
    <div class="titleCont">
      <div class="title">{{courseItem.title | uppercase}} </div>
      <img class="asterisk" [ngClass]='{asteriskBack: courseItem.topRated}' src="https://www.shareicon.net/download/2016/01/09/700633_stars_512x512.png">
    </div>
    <div class="time">{{courseItem.duration | Duration}}</div>
    <div class="date">{{courseItem.creationDate | date:"dd.MM.yyyy"}}</div>
    <button class="Edit">
      <img class="envelopeButtonImg" src="https://cdn.pixabay.com/photo/2014/09/25/14/51/envelope-460551__340.png"> Edit
    </button>
  </div>
  <div class="two-row">
    <p class="description">
      {{courseItem.description}}
    </p>
    <button class="Delete" (click)="courseClickDelete(courseItem.id)">
      <img class="envelopeButtonImg" src="https://cdn.pixabay.com/photo/2014/09/25/14/51/envelope-460551__340.png"> Delete
    </button>
  </div>
</div>