<app-tool-box (sortSearchClick)="filterByName($event)"></app-tool-box>
<div class="courses-container">
  <app-course-item *ngFor="let item of coursesItems | orderByCreationDate" [courseItem]='item' appCreatedDateBorder [courseDate]='item.creationDate'
    (courseClick)="onCourseDeleteClick($event)"></app-course-item>
  <button class="load-more" (click)="loadMoreClick()">LOAD MORE</button>
</div>
<div *ngIf = 'deletePopUp' class="deletePopUp">
  <span>Do you really want to delete this course?</span>
  <div class="deleteAnswers">
    <button class="yesDel" (click) = "yesDeleteClick()">
      Yes
    </button>
    <button class="noDel" (click) = "noDeleteClick()">
      No
    </button>
  </div>
</div>
<div *ngIf='dataExists' class="no-data">NO DATA. FEEL FREE TO ADD NEW COURSE</div>