<div class="add-course-cont">
  <div class="title">
    <span class="title-head">Title:</span>
    <input class="title__input" type="text">
  </div>
  <div class="Description">
    <span class="Description__head">Description:</span>
    <textarea class="Description__input" type="text"></textarea>
  </div>
  <app-date-input class="date"></app-date-input>
  <app-duration class="duration"></app-duration>
  <app-authors class="authors"></app-authors>
  <div class="buttons">
    <button class="save">Save</button>
    <button class="cancel">Cancel</button>
  </div>
</div>
