<div class="add-course-cont">
  <div class="title">
    <span class="title-head">Title:</span>
    <input class="title__input" type="text">
  </div>
  <div class="Description">
    <span class="Description__head">Description:</span>
    <input class="Description__input" type="text">
  </div>
  <app-date-input></app-date-input>
  <app-duration></app-duration>
  <app-authors></app-authors>
  <div class="buttons">
    <button class="save">Save</button>
    <button class="cancel">Cancel</button>
  </div>
</div>
