.add-course-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}
.title{
    display: flex;
    flex-direction: column;
}
.Description{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 10px; 
}
.Description__input{
    min-height: 50px;
}
.title,  .date, .duration, .authors{
   width: 95%;
   margin: 10px;   
   height: 45px;
}
.title__input{    
    height: 45px;
 }
.buttons{
    display: flex;
    align-items: flex-start;    
    width: 95%;
    margin: 10px;
}
.save, .cancel{  
    font-family: cursive;
    width: 75px;
    height: 40px;    
    background-color: #fff;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10%;
}
.cancel{
    margin-left: 7px;
}